.table-label {
    text-align: center;
    font-size: 25px;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: black;
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ddd;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ddd;
}

.options {
    display: flex;
    margin: 0px;
    align-items: flex-end;
    justify-content: flex-end;
}

  